<div class="form-section">
  <div class="form-section__container">
    <h1 class="form-section__title">Welcome to Noda Payment Links</h1>
    <div class="form-section__content">
      <div class="form-section__info-box">
        <div class="form-section__info-box-content">
          <p class="form-section__info-box-titile-text">
            Where we harness the power of AI to revolutionize the way creating
            payment pages
          </p>
          <p class="form-section__info-box-content-text">
            Our advanced platform combines the capabilities of
            <strong>ChatGPT</strong> for generating detailed text descriptions
            and <strong>MidJourney</strong> for selecting suitable images.
          </p>
          <p class="form-section__info-box-content-text">
            With our innovative solution, you can effortlessly design and
            customize branded order pages for every transaction, complete with
            the following features
          </p>
        </div>
        <form class="form-section__form">
          <app-select></app-select>
          <app-input inputType="email" inputPlaceholder="E-mail"></app-input>
          <app-input
            inputType="tel"
            inputPlaceholder="Phone number"
          ></app-input>
          <app-checkbox></app-checkbox>
          <app-button
            text="Start using Noda Payment links"
            class="form-section__button"
          ></app-button>
        </form>
      </div>
    </div>
  </div>
</div>
