.footer {
  background: rgba(41, 48, 77, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 24px;
    gap: 30px;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;
  }

  &__title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-bottom: 16px;
    color: rgba(255, 255, 255, 1);
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-bottom: 12px;
    color: rgba(247, 249, 252, 1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;

    &:last-child,
    &:only-of-type {
      padding-bottom: 0;
    }

    &:hover {
      color: #6936d3;
    }

    &:active {
      color: #f16f6f;
    }
  }

  &__linkedin {
    position: relative;
  }

  &__contact {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
    padding-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      background: #fff;
      width: 20px;
      height: 20px;
      left: 5px;
    }
  }

  &__text--highlight {
    background: linear-gradient(89.94deg, #6936d3 0.05%, #f16f6f 99.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 8px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(89.94deg, #6936d3 0.05%, #f16f6f 99.95%);
      z-index: -1;
      border-radius: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background: rgba(41, 48, 77, 1);
      z-index: -1;
      border-radius: 15px;
    }

    &:hover {
      background: linear-gradient(89.94deg, #6936d3 0.05%, #f16f6f 99.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 12px 24px;
    border-radius: 2px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(247, 249, 252, 1);
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  @media (min-width: 420px) {
    &__container {
      padding: 60px 40px;
    }
  }

  @media (min-width: 620px) {
    &__container {
      padding: 80px 60px;
    }
  }

  @media (min-width: 876px) {
    &__container {
      flex-direction: row;
    }
  }

  @media (min-width: 1080px) {
    &__container {
      gap: 80px;
    }
  }

  @media (min-width: 1200px) {
    &__container {
      padding: 150px 100px;
    }
  }
}
