.header {
  width: 100%;
  background: rgba(23, 27, 44, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 6;

  &__container {
    padding: 25px 20px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo-text-box {
    position: relative;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

    &:hover .header__logo-text {
      opacity: 0;
    }

    &:hover .header__logo-gradient-text {
      opacity: 1;
    }
  }

  &__logo-text {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  &__logo-gradient-text {
    color: transparent;
    background: linear-gradient(90deg, #aa82ff 3.2%, #eb6c73 116%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease;
    z-index: 1;
    opacity: 0;
  }

  &__logo {
    background: url("../../../assets/img/logo_media.svg");

    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &__button {
    position: relative;
    overflow: hidden;
    padding: 4px 16px 4px 16px;
    border-radius: 35px;
    gap: 10px;
    border: none;
    background: transparent;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
    z-index: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: opacity 0.3s ease;
      z-index: -1;
      border-radius: 35px;
    }

    &:before {
      background: linear-gradient(89.94deg, #6936d3 0.05%, #f16f6f 99.95%);
      opacity: 1;
    }

    &:after {
      background: linear-gradient(90deg, #aa82ff 3.2%, #eb6c73 116%);
      opacity: 0;
    }

    &:hover:before {
      opacity: 0;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  @media (min-width: 420px) {
    &__logo {
      background: url("../../../assets/img/logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 80px;
    }
  }

  @media (min-width: 620px) {
    &__container {
      padding: 25px 50px;
    }

    &__logo-container {
      gap: 55px;
    }
  }
}
