<div class="welcome-section">
  <div class="welcome-section__container">
    <div class="welcome-section__content">
      <h1 class="welcome-section__title">
        Create Branded Payment Pages in Minutes
      </h1>
      <p class="welcome-section__text">
        Empower Your Business with Personalized Order Experiences. Use Noda and
        AI
      </p>
      <app-button text="Create with Noda →"></app-button>
      <!-- <button class="welcome-section__button">Create with Noda →</button> -->
    </div>
  </div>
</div>
