.input {
  min-height: 56px;
  padding: 0px 16px;
  border-radius: 4px;
  gap: 4px;
  width: 100%;
  border: none;
  font-family: Archivo;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.004em;
  text-align: left;
  color: rgba(29, 36, 69, 1);

  &::placeholder {
    font-family: Archivo;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.004em;
    text-align: left;

    color: rgba(163, 167, 189, 1);
  }

  &:focus {
    outline: none;
    border: none;
  }

  @media (max-width: 620px) {
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }

  @media (max-width: 420px) {
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }

}
