<div class="swiper-section">
  <div class="swiper-section__container">
    <div class="swiper-section__content">
      <h1 class="swiper-section__title">Let’s start!</h1>
      <p class="swiper-section__text">
        Create customized payment pages effortlessly using our chatbot. Answer a
        few questions about your company and industry, and our chatbot will
        generate tailored payment pages that perfectly match your needs.
      </p>
      <app-button
        text="Create with Noda →"
        additionalClass="swiper-section__button"
      ></app-button>
    </div>
    <div class="swiper-section__swiper">
      <swiper-container
        class="swiper-section__swiper-container"
        slides-per-view="2.5"
        free-mode="true"
        space-between="30"
      >
        <swiper-slide class="swiper-section__swiper-slide">
          <img
            src="../../../assets/img/page-1.png"
            alt="Slide 1"
            class="swiper-section__swiper-slide-img"
          />
        </swiper-slide>
        <swiper-slide class="swiper-section__swiper-slide">
          <img
            src="../../../assets/img/page-3.png"
            alt="Slide 2"
            class="swiper-section__swiper-slide-img"
          />
        </swiper-slide>
        <swiper-slide class="swiper-section__swiper-slide">
          <img
            src="../../../assets/img/page-2.png"
            alt="Slide 3"
            class="swiper-section__swiper-slide-img"
          />
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
